body.light-theme {
  background-color: $primary-text-color;
}

body.dark-theme {
  background: linear-gradient(to right, #6f0000, #200122);

  // dark theme movie modal
  .basicLightbox__placeholder {
    background-color: #252836;
  }

  .lightbox-modal__title {
    color: $accent-color;
  }
  .lightbox-modal__description-title {
    color: $primary-text-color;
  }

  .text-popularity,
  .text-originalTitle,
  .text-genre {
    color: $primary-text-color;
  }
  .lightbox-modal__description {
    color: #808191;
  }
  .lightbox-modal__button {
    background-color: $accent-color;

    &:focus,
    &:hover {
      background-color: $accent-color;
    }
  }

  .lightbox-modal__close-btn {
    color: $primary-text-color;
  }

  // movie
  .movie-info-title {
    color: $primary-text-color;
    text-shadow: 0.5px 0.5px 1px #0f0f0f, 0.5px -0.5px 0.5px rgb(81, 5, 5);
    letter-spacing: 1.2px;
  }

  div ~ .tui-pagination .tui-page-btn {
    color: $primary-text-color;
    text-shadow: 0.5px 0.5px 1px #0f0f0f, 0.5px -0.5px 0.5px #f00;
    background-color: transparent;
    border: none;
    outline: none;
    margin-right: 7px;
    box-shadow: -0.5px -0.5px 3px #e20000, 0.5px 0.5px 3px #0000001a;
    cursor: pointer;

    &:hover {
      background-color: $accent-color;
      color: $primary-text-color;
      box-shadow: inset -1px -1px 3px white,
        inset 1px 1px 3px rgba(0, 0, 0, 0.1);
    }
  }

  div.tui-pagination .tui-is-selected,
  div.tui-pagination strong {
    background-color: $accent-color;
    color: $primary-text-color;
  }

  // auth form
  .form-wrapper.is-active .switcher-login {
    color: $primary-text-color;
  }

  .form-wrapper.is-active .switcher-signup {
    color: $primary-text-color;
  }
  .btn-login {
    color: $secondary-text-color;
  }

  .btn-signup {
    color: $secondary-text-color;
  }

  .input-block label {
    color: $secondary-text-color;
  }
}

// ===switch
.toolbar {
  padding: 10px 14px;
  margin-left: 24px;
  position: absolute;
  top: 0;
  right: 0;
}

.theme-switch {
  display: flex;
  align-items: center;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 64px;
  height: 22px;
  border-radius: 50em;
  padding: 3px 0;
  box-shadow: inset 0.5px 0.5px 1px #babecc,
    inset -0.5px -0.5px 1px rgb(97, 7, 7);

  &:focus,
  &:hover,
  &:checked {
    box-shadow: inset 0.5px 0.5px 0.5px #babecc,
      inset -0.5px -0.5px 0.5px rgb(97, 7, 7);
  }
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: transparent;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: transparent;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: inset 0.5px 0.5px 1px #f1f3fb, inset -0.5px -0.5px 1px #fff;
  transform: translateX(6px);
  transition: transform 250ms linear;

  &:focus {
    box-shadow: inset 0.5px 0.5px 1px #e4e3e3, inset -0.5px -0.5px 1px #fff;
  }
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: transparent;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(45px);
  background-color: transparent;
  box-shadow: inset -4px -0.5px 1px 1px rgb(255, 221, 0);
}

.theme-switch__toggle:not(:checked) ~ .theme-switch__marker {
  background-color: #ff9500b9;
  box-shadow: 0 0 5px 2px #ffb744, 0 0 6px 3px #ffe1a1, 0 0 7px 5px #fef483;
}
